  <%= form_for @product do |f| %>
  <p>
    <%= f.label :商品名称： %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :商品原价： %>
    <%= f.text_field :originprice %>
  </p>

  <p>
    <%= f.label :商品现价： %>
    <%= f.text_field :price %>
  </p>

  <p>
    <%= f.label :商品详情： %>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :库存： %>
    <%= f.text_field :quantity %>
  </p>

  <p>
    <%= f.label :商品分类： %>
    <select name="product[product_category_id]">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </p>
  <p>
    <button type="submit" class="btn btn-primary">完成修改</button>
  </p>
  <% end %>